/* -------------------------------------------- */
*{
    padding: 0;
    margin: 0;
}
/* ------------------------------------------------- */
/* ヘッダーの編集 */
header{
    height: 42px;
}
.head{
    display: flex;
    align-items: center;
}
.aa{
    margin-right: 10px;
}
.head > a> img{
    height: 40px;
}
h1{
    text-align: center;
    color: white;
    font-family: graduate;
}
/* ----------------------------------------------------------------------- */
/* {{-- マイページの編集 --}} */

.mypage-wrapper{
    background-image: url('../img/メイン背景画像.png');
    opacity: 0.6;
    height: 261px;
    border: solid black 1px;
}

.one{
    display: flex;
    flex-direction: column;
}

.self{
    width: 80px;
    height: 91px;
}

.self_containar{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.two input{
    height: 18px;
    width: 150px;
    margin-bottom: 20px;
}

.edit-btn{
    text-align: center;
}

/* -------------------------------------------- */
/* {{-- ポストリストの編集 --}} */
.form{
    border-top: 0.1px solid black;
    height: 200px;
}

.postlist-update{
    border: solid black 1px;
}

.Task_Bookmark{
    background-color: #A8DBFE;
}

.posts-func{
    display: flex;
  
}

.self_post{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: fit-content;
    margin: 20px 20px;
    padding: 20px;
    background-color: white;

}

.moji{
    text-align: left;
}

.btn{
    width: 5px !important;
    height: 10px;
    border: none !important;
   
}

/* .three{
    display: flex;
    flex-direction: column;
    margin-right:10px;
    margin-top: 20px;
}

.four{
    height: 18px;
    width: 150px;
    margin-bottom: 20px;
} */



/* -------------------------------------------- */
/* {{-- ブックマークの編集 --}} */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 200px;
}

.card{
    background-color:  white;
    
}
.container > .card {
    width: 40vw;
    height: 220px;
    position: relative;
}
.card img {
    width: 100%;
}
.text-center {
    text-align: center;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn.custom {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 20px;
}
