@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

.header{
    position: absolute;
    top: 0;
    left: 0; /* ヘッダーを左端に固定する場合 */
    right: 0; /* ヘッダーを右端に固定する場合 */
    background-color: white; /* ヘッダーの背景色 */
    color: #fff; /* ヘッダーのテキスト色 */
    padding: 10px; /* 適切なパディングを設定 */
    height: 42px;
   

}

.container {
    padding-left: 0!important;
    padding-right: 0!important;
    position: relative;

}
.margin20{
    margin-bottom: 20px;
}
.container.custom::before {
    content: url('../images/buko.png');
    position: absolute;
    bottom: -50px;
    left: 10px;
}
.header-title {
    font-family: 'Grape Nuts', cursive;
    font-size: 36px;
    height: 41px;
    width: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Grape Nuts', cursive;
    font-size: 36px;
    height: 41px;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posts-posts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   

}
.posts-box{
    flex: 1; /* 要素が均等な幅を持つようにフレックスプロパティを設定 */
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#imageDisplay2 {
    height: 92px;
    width: 144px;
    border: 1px solid #000000;


}

#imageDisplay {
    height: 92px;
    width: 144px;
    border: 1px solid #000000;

}
.title{
    height: 23px;
    border-radius: 20px;
    width: 153px;

}

.content{
    height: 56px;
    border-radius: 20px;
    width: 153px;

}

.create-post-section {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 220px;
    width: 100%;
    background: url('../images/ami.png');
    background-size: cover;
}
.label-center {
    display: flex;
    justify-content: center;
}
.form-label {
    margin-bottom: 5px!important;
    position:relative!important;
    text-align: left!important;
}
.parent {
    position: relative;
}
.custom-btn {
    position: absolute;
    right: 0;
    border-radius: 20px;
    width: 74px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A8FDD!important;
    z-index: 99;
    bottom: 0;
}

.img-thumbnail{
    height: 40px;
    width: 40px;
}

.functions{
    display: flex;
    justify-content: flex-end;
    gap:8px ;
    margin-top: 10px;
}


.function-box{
   
   display: flex;
   align-items: center;
   
   
}


.comment-box{
 width: 110px;
}


.yahho{
    display: flex;
    justify-content: space-between;

}

.datecreate{
    font-size: 8px;
    text-align: left;
}
.content-box{

    width: 170px;
    min-height: 50px;
    text-align: left;

}


.w-5 {
    width: 40px;
    height: 40px;
}

.flex{
    justify-content: center;
}
.pagination-links{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.deletebtn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

footer{
  
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
}
   

.footer{
  
  
    bottom: 0;
    left: 0; /* フッターを左端に固定する場合 */
    right: 0; /* フッターを右端に固定する場合 */
    background-color: white; /* フッターの背景色 */
    color: #fff; /* フッターのテキスト色 */
   
}
.container.post {
    display: flex;
    flex-wrap: wrap;
}

.container.post .posts-posts {
    width: 48vw;
}

.container.post .function-box,
.container.post .yahho{
    display: block!important;
}

.commentForm {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal img {
    width: 100%;
}
img.avatar {
    width: 30px!important;
    height: 30px!important;
    margin-right: 6px;
}
.avatar-container {
    padding: 6px 3px;
}
.avatar-container:not(:last-of-type) {
    border-bottom: 1px solid gray;
}