*{
    padding: 0;
    margin: 0;
}
header{
    height: 42px;
}
.head{
    display: flex;
    align-items: center;
}
.aa{
    margin-right: 10px;
}
.head > img{
    height: 40px;
}
/* -------------------------------------------------------------- */
.content{
    width: 100vw;
    height: 261px;
    background-image: url(../img/Group\ 22\ \(2\).png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bb{
    text-align: center;
    font-family: graduate;
    color: white;
}

.btn-container {

    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 100px; /* 下方向に移動 */

}

.btn1 {
    width: 80px;
   
    background-color: white;
    padding: 8px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    color: black;
  
}

.logout_btn{
    margin-right: 70px;
    margin-top: 50px;
}
/* ----------------------------------------------------------------------- */
.middle{
    height: 290px;
    background-image: url(../images/背景.png);
}

/* ------------------------------------------------------------------------- */
.low{
    height: 225px;
    background-image: url(../img/3104.png);
    display: flex;
    flex-wrap:wrap ;
   
}
.low div{
    width: 50%;
}

.low2{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;

}

.btn_low{
    display: inline-block;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-family: 'Abhaya Libre', serif;
    width: 102px;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    border-radius: 30%;
    background-color: white;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* ---------------------------------------------------------------------------- */
footer{
    height: 42px; 
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.fot_pic{
    height: 40px;
}

.btn_footer{
    font-size: 10px;
    text-decoration: none;
    color: black;
    border: 0.5px solid black;
}

.smallimg{
    width: fit-content;
}